@import "../../../styles/functions.scss";
@import "../../../styles/variables.scss";

.formElementContainer {
    position: relative;
    margin-bottom: rem(40);
    margin-top: rem(40);
    label {
        display: block;
        margin-bottom: rem(2);
        letter-spacing: rem(0.4);
    }
}

.select {
    display: block;
    width: 100%;
    height: rem(60);
    border-radius: 0;
    border: none;
    border-bottom: rem(1) solid $primary;
    font-size: rem(18);
    line-height: 1;
    font-weight: 400;
    color: $primary;
    cursor: pointer;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%230c1933' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.7em top 50%;
    background-size: 0.65em auto;
    background-color: transparent;

    &:focus {
        outline: none;
        border: rem(1) dashed $primary;
    }
}

.errorContainer {
    select {
        background-color: $error;
        border-color: $error;
        color: white;
        background-image: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23ffffff' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");
    }
    label {
        color: $error;
        left: rem(8);
    }
    .error {
        margin-top: rem(8);
        color: $error;
        position: absolute;
        left: 0;
        bottom: rem(-16);
    }
}
