@import "../../../styles/functions.scss";
@import "../../../styles/variables.scss";
@import "../../../styles/contour-colors.scss";

.footer {
    background: $neutral;
    color: $neutral6;
    font-family: $serif;
    padding: rem(64) 0;
}

.logoContainer {
    display: flex;
    justify-content: center;
    padding-top: rem(8);
}

.address {
    font-size: rem(16);
    line-height: calc(18 / 16);
    li {
        margin-bottom: rem(4);
    }
}

.contactInfo {
    margin-top: rem(24);
    font-size: rem(16);
    line-height: calc(18 / 16);
    a {
        color: $neutral6;
        text-decoration: underline;
    }
    span {
        margin: 0 rem(16);
        color: $secondary2;
    }
}

.addressContainer {
    padding-top: rem(8);
}

.addressContainer,
.linksContainer {
    padding-bottom: rem(64);
    position: relative;
}

.copyright {
    font-size: rem(12);
    line-height: 1;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footerMenu {
    a {
        color: $secondary2;
        text-transform: uppercase;
        font-family: $sans-serif;
        font-weight: 700;
        letter-spacing: rem(1);
        padding: rem(8) 0;
        display: inline-block;
        margin-bottom: rem(16);
        font-size: rem(12);
        line-height: 1;
    }
    li {
        &:last-of-type {
            a {
                margin-bottom: 0;
            }
        }
    }
}

.socialLinks {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    align-items: center;
    li {
        margin-right: rem(16);
        &:last-of-type {
            margin-right: 0;
        }
    }
}

@media all and (max-width: $large) {
    .container {
        display: flex !important;
        flex-direction: column;
        position: relative;
    }
    .addressContainer {
        text-align: center;
        margin-top: rem(40);
        position: static;
    }
    .copyright {
        left: 50%;
        transform: translateX(-50%);
    }
    .linksContainer {
        text-align: center;
        margin-bottom: rem(64);
    }
    .socialLinks {
        left: 50%;
        transform: translateX(-50%);
    }
}
